 html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    position: relative;
    top: 0;
    -webkit-transition: top .3s;
    transition: top .3s;
}
body.open {
    top: 0px;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote: before, blockquote: after, q: before, q: after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS RESET DONE */

html,
body {
    height: 100%;
}
html {
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
body {
    color: #fff;
    margin: 0 auto;
    font: 1em/1.3em Times, serif;
    font-family: 'Montserrat', serif;
    background-color: white;
}
.header {
    margin-bottom: 40px;
    position: relative;
}
.clearfix {
    clear: both;
}
.container {
    position: relative;
    padding: 40px 10%;
    text-align: center;
    height: 100%;
}
p {
    text-align: left;
    font-size: 16px;
    line-height: 40px;
    font-family: "Quicksand";
}
h1 {
    margin: 40px 0;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    font-family: "Fredericka the Great";
}
a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

div.underline {
    position: fixed;
    z-index: 9;
    left: calc(80% - 375px);
    top: 0px;
    width: 400px;
    height: 60px;
    border-bottom: 1px solid rgba(163, 163, 163, 0);
    -webkit-transition: border-bottom 0.7s;
    transition: border-bottom 0.7s;
}

div.underline.open {
    border-bottom: 1px solid rgb(163, 163, 163);
}

ul.side-menu {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: -1;
    border-bottom: 1px solid rgba(0,0,0,0);
    -webkit-transition: top .3s;
    transition: top .3s;
}
ul.side-menu.open {
    top: 0;
}


ul.side-menu li {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0 20px;
    text-align: left;
    opacity: 0;
    -webkit-transition: left .3s, opacity 0.15s;
    transition: left .3s, opacity 0.15s;
}


ul.side-menu li.metro {
    position: absolute;
    padding: 0;
    top: 0px;
    height: inherit;
    width: 125px;
    text-align: center;
}


ul.side-menu li a {
    display: block;
    padding: 0;
    margin: 0;
    height: inherit;
    line-height: inherit;
}
ul.side-menu li.metro a {
    height: inherit;
    width: inherit;
    color: inherit;
}

p.navbutton {
    position: absolute;
    height: 40px;
    width: inherit;
    top: 20%; /* using this to vertically center align*/
    text-align: center;
    color: rgb(130,130,130);
    font-family: "Fredericka the Great";
    font-weight: 300;
}

div.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 125px;
    width: 100%;
    z-index: 10;
}

div.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

div.background.interests {
    background-image: url(../img/Interests-opaque-menu-room-clean.png);
}

div.background.resume {
    background-image: url(../img/Resume.png);
}

div.background.projects {
    background-image: url(../img/Projects.png);
}

div.background-home {
    z-index: -3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url(../img/Home-green.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    
}

img.background-image{
    height:inherit;
}

div.background.active {
}


/*
Initialize all modals as display: none
*/
.background.interests,
.background.projects,
.background.resume,
.blur.interests,
.blur.projects,
.blur.resume {
    display: none;
}


div.blur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

div.blur.interests {
    background-image: url(../img/Interests-blur-full.png);
}

div.blur.projects {
    background-image: url(../img/Projects-blur-full.png);
}

div.blur.resume {
    background-image: url(../img/Resume-blur-full.png);
}


div.tab-content {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
}

.scrollbox {
	overflow: auto;
	width: 100%;
    height: 100%;
    z-index: 2;
    margin-top: 80px;
}

body:after{
    display: none;
    content: url(../img/Home-green.png) url(../img/interests-opaque-menu-room-clean.png) url(../img/Projects.png) url(../img/Resume.png);
}

